

<section class="section">
  <div class="container">
    <div class="row">
      <div class="container container--mini">
      <h2> Registration form for <%= @competition.name%></h2>
<%= render 'form' %>
</div>
    </div>
  </div>
</section>

